/* catalog */
.category-view
  display flex
  flex-flow row wrap
  align-items center

.category-product-preview
  // display inline-block
  box-sizing border-box
  padding 0 12px
  position relative
  text-align center
  img
    margin-bottom 30px
    transition all 100ms linear
    ../:hover img
      transform scale(1.05)
      // opacity 0.8

  &__description
    letter-spacing 0
    display none
    text-align center
    position absolute
    left 50%
    top 50%
    transform translateX(-50%) translateY(-50%)
    padding 20px
    box-sizing border-box
    .text-grey
      color black
    ../:hover &
      border-radius 8px
      display block
      background rgba(255,255,255,0.3)

  &__cart-actions .action
    display inline-block
    padding 0
    a
      padding 4px 8px
      min-width 130px
      border 1px solid black
      text-decoration none
      text-transform uppercase
      font-size 16px
      color black


/* product view */
.product-gallery
  .thumbnails
    a
      position absolute
      top 40px
      z-index 3
      font-size 20px

.thumbnails
  a
    &.prev
      left 0px
    &.next
      right 0px

.product-images
  ul
    list-style none
    padding-left 0
    & > li
      margin-bottom 20px

.cart-actions
  margin-top 30px
  .action
    padding 0 20px
    &.add-co-cart
      a
        border-color gray
        color grey
    a
      padding 8px 0
      display inline-block
      width 100%
      border 1px solid black
      text-decoration none
      text-transform uppercase
      font-size 16px
      color black