include /node_modules/bemto.pug/bemto.pug
.
  <?php
    use app\widgets\ProductDescription;
    use app\widgets\ProductDimensions;
    use yii\helpers\Url;

    /* @var $this yii\web\View */
    /* @var $model app\models\Product */
    $image = $model->getImage();
  ?>

+b.category-product-preview
  a(href!="<?=Url::to(['product/view', 'id' => $model->id])?>")
    img(src!="<?=YII_ENV_DEV ? '//lorempixel.com/540/' . rand(3,5). '00/' : $image->getPath('540x', ['abs' => true]);?>", alt!='<?=$model->sku_ru;?>')

  +e.description
    |<?=ProductDescription::widget(['model' => $model])?>
    .specs
      .spec
        h3.text-uppercase
        span.size.text-grey
          |<?=ProductDimensions::widget(['model' => $model])?>
      .spec
        h3.text-uppercase
        span.price.text-grey
          |<?=$model->price?>&#x20;
          span.glyphicon.glyphicon-ruble(style='font-size:11px;')
          |. - <?=$model->status->{Yii::t('site', 'description_en')}?>
    br

    +e.cart-actions
      .action.buy-it-now
        a.text-center(href!="<?=Url::to(['product/view', 'id' => $model->id])?>") <?=Yii::t('site', 'Details')?>

