@import url(http://allfont.net/allfont.css?fonts=futura-normal);

html,
body {
    height: 100%;
    font-family: 'Futura-Normal', arial;
}

/* catalog */
.category-view {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.category-product-preview {
  box-sizing: border-box;
  padding: 0 12px;
  position: relative;
  text-align: center;
}
.category-product-preview img {
  margin-bottom: 30px;
  transition: all 100ms linear;
}
.category-product-preview:hover img {
  transform: scale(1.05);
}
.category-product-preview__description {
  letter-spacing: 0;
  display: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  box-sizing: border-box;
}
.category-product-preview__description .text-grey {
  color: #000;
}
.category-product-preview:hover .category-product-preview__description {
  border-radius: 8px;
  display: block;
  background: rgba(255,255,255,0.3);
}
.category-product-preview__cart-actions .action {
  display: inline-block;
  padding: 0;
}
.category-product-preview__cart-actions .action a {
  padding: 4px 8px;
  min-width: 130px;
  border: 1px solid #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}
/* product view */
.product-gallery .thumbnails a {
  position: absolute;
  top: 40px;
  z-index: 3;
  font-size: 20px;
}
.thumbnails a.prev {
  left: 0px;
}
.thumbnails a.next {
  right: 0px;
}
.product-images ul {
  list-style: none;
  padding-left: 0;
}
.product-images ul > li {
  margin-bottom: 20px;
}
.cart-actions {
  margin-top: 30px;
}
.cart-actions .action {
  padding: 0 20px;
}
.cart-actions .action.add-co-cart a {
  border-color: #808080;
  color: #808080;
}
.cart-actions .action a {
  padding: 8px 0;
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding: 0 0 100px;
}
.wrap > .container {
  padding: 0px 15px 20px;
}
.container {
  width: 1170px !important;
}
.footer {
  height: 100px;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.text-grey {
  color: #777;
}
.font-normal {
  font-weight: normal !important;
}
.xsmall {
  font-size: 60% !important;
}
.letter-spacing-medium {
  letter-spacing: 3px;
}
.form-control {
  border-radius: 0;
  width: 100% !important;
}
button.les-button {
  min-width: 200px;
  background: transparent;
  border: 1px solid #333;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}
button.les-button:active {
  background-color: #eee;
}
.breadcrumb {
  background: none;
  text-transform: uppercase;
  padding-left: 0;
}
.breadcrumb a {
  color: #777;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: #333;
}
.no-pad {
  padding: 0px;
}
.no-pad-top {
  padding-top: 0px !important;
}
.no-pad-left {
  padding-left: 0px;
}
.no-pad-right {
  padding-right: 0px;
}
.no-pad-bottom {
  padding-bottom: 0px;
}
.space-top-small {
  margin-top: 20px !important;
}
.space-bottom-medium {
  margin-bottom: 40px !important;
}
.space-bottom-large {
  margin-bottom: 80px !important;
}
.space-bottom-xlarge {
  margin-bottom: 160px !important;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.front-images .image-column {
  padding: 5px;
}
.front-images .image-column img {
  width: 100%;
  margin: 5px auto;
}
.front-images .image-column .inner-column:first-of-type {
  padding-left: 0;
  padding-right: 10px;
}
.front-images .image-column .inner-column:last-of-type {
  padding-left: 0;
  padding-right: 0;
}
/* navbar */
.les-navbar {
  padding-top: 36px;
}
a.navbar-brand {
  padding: 0;
  margin-left: 26px !important;
}
a.nav-row-1 {
  font-size: 16px;
  line-height: 16px !important;
  padding: 0 !important;
}
ul.nav-row-1 {
  padding-left: 30px !important;
  padding-top: 7px !important;
  margin-top: 0 !important;
}
ul.nav-row-1 li {
  margin-left: 40px;
}
.nav-row-2 a {
  padding: 0 !important;
  margin-left: 26px;
}
.navbar-collapse.collapse {
  display: block !important;
}
.navbar-nav {
  margin: 0;
}
.navbar-nav>li,
.navbar-nav {
  float: left !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right !important;
}
button.navbar-toggle {
  display: none !important;
}
.navbar-header {
  float: left;
}
.navbar-collapse {
  border: none;
}
/* product view */
.nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}
.active > a {
  background: transparent !important;
  font-weight: bold;
}
.product-carousel ul {
  list-style: none;
}
.product-carousel li {
  margin: 10px auto;
}
.product-carousel li:first-child {
  margin-top: 0;
}
/* cart */
.nav .cart-icon {
  margin-right: 40px;
  background-position: right;
  background-position-y: -2px;
  background-size: 40px 20px;
  background-image: url("/img/icon_cart.png");
  background-repeat: no-repeat;
  max-width: 160px;
  margin-top: 5px;
}
.cart-icon .cart-count {
  color: #fff;
  font-size: 12px;
  line-height: 0;
  display: block;
  position: absolute;
  background: #000;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0.9;
  right: -8px;
  top: -8px;
  padding: 8px 2px 7px 6px;
}
.cart-icon a {
  padding-top: 0 !important;
  min-height: 20px;
}
.les-cart {
  border: none !important;
}
.les-cart td {
  vertical-align: middle !important;
}
.les-cart th,
.les-cart tfoot {
  font-weight: lighter !important;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
.language-picker.button-list a {
  color: #777;
}
.navbar-default {
  background-color: #fff !important;
  border: none !important;
}
/* furniture */
.furniture-categories a {
  text-decoration: none;
  color: initial;
}
/* instagram instafeed */
.instafeed ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.instafeed ul li {
  float: left;
  width: 33.3333333%;
  padding: 1px;
  overflow: hidden;
}
.instafeed ul li:nth-child(n+10) {
  display: none;
}
.instafeed ul li img {
  width: 100%;
  height: 100%;
}
/* footer */
.footer .row {
  margin: auto 15px;
  letter-spacing: 2px;
}
